<wicket:panel>		
	<table wicket:id="keys" class="ssh-key-list table"></table>
	<wicket:fragment wicket:id="actionFrag">
		<a wicket:id="delete" class="btn btn-xs btn-icon btn-light btn-hover-danger" title="Delete this key"><wicket:svg href="trash" class="icon"></wicket:svg></a>
	</wicket:fragment>
</wicket:panel>
