<wicket:panel>
	<div class="code-comment-list card">
		<div class="card-body">
			<form wicket:id="query" class="clearable-wrapper mb-4">
				<div class="input-group">
					<input wicket:id="input" spellcheck="false" autocomplete="off" class="form-control" placeholder="Query and order comments here">
					<span class="input-group-append">
						<button wicket:id="submit" type="submit" class="btn btn-icon btn-outline-secondary" title="Query"><wicket:svg href="magnify" class="icon"></wicket:svg></button>
					</span>
				</div>
			</form>
			<div class="mb-4">
				<a wicket:id="showSavedQueries" class="show-saved-queries text-gray mr-4">
					<wicket:svg href="eye" class="icon"></wicket:svg> Show Saved Queries
				</a>
				<a wicket:id="saveQuery" class="save-query text-gray mr-4">
					<wicket:svg href="save" class="icon"></wicket:svg> Save Query
				</a>
				<a wicket:id="orderBy" class="order-by text-gray">
					<wicket:svg href="sort" class="icon"></wicket:svg> Order By
				</a>
			</div>
			<div wicket:id="body" class="body">
				<div wicket:id="feedback"></div>
				<table wicket:id="comments" class="table"></table>
			</div>
		</div>
	</div>
	<wicket:fragment wicket:id="fileFrag">
		<a wicket:id="link"><span wicket:id="label"></span></a>
	</wicket:fragment>
	<wicket:fragment wicket:id="lastUpdateFrag">
		<a wicket:id="user"></a> <span wicket:id="activity"></span> <span wicket:id="date"></span>
	</wicket:fragment>
</wicket:panel>