<wicket:extend>
	<div class="card m-2 m-sm-5">
		<div class="card-body">
			<div class="font-size-sm text-muted mb-4">
				<wicket:svg href="bulb" class="icon"/> Access token can be used to clone code via HTTP(S) protocol without 
				using password. It has same permission over all projects accessible by your account.
			</div>
			<div wicket:id="accessToken"></div>
		</div>
	</div>
</wicket:extend>
