<wicket:panel>
	<div>
		<input wicket:id="input" type="password" autocomplete="new-password" class="form-control" placeholder="Type password here">
	</div>
	<div class="password-confirm">
		<input wicket:id="inputAgain" type="password" autocomplete="new-password" class="form-control" placeholder="Confirm password here">
	</div>
</wicket:panel>