.pull-request-detail>.card-body>.main>.activities .activity.new>.avatar {
	border-left-color: var(--primary);
}
.pull-request-detail>.card-body>.main>.activities>table {
	table-layout: fixed;
}

.pull-request-detail>.card-body>.main>.activities .activity>td {
	border-top: 1px solid var(--light-gray);
	padding: 1.25rem 0;
	vertical-align: top;
}
.pull-request-detail>.card-body>.main>.activities .activity:first-child>td {
	border-top: none;
}
.pull-request-detail>.card-body>.main>.activities .activity>td.avatar {
	width: 48px;
	border-left: 4px solid white;
	padding-left: 8px;
}
.pull-request-detail>.card-body>.main>.activities .activity>td.avatar .avatar {
	width: 40px;
	height: 40px;
}
.pull-request-detail>.card-body>.main>.activities .activity>td.avatar .avatar.system-avatar {
	width: 44px;
	height: 44px;
	margin-left: -2px;
	opacity: 75%;
}

.pull-request-detail>.card-body>.main>.activities .activity>td.content {
	padding-left: 1.25rem;
}
.pull-request-detail>.card-body>.main>.activities .PullRequestUpdatedActivity>td.content>.body>.commit.rebased,
.pull-request-detail>.card-body>.main>.activities .PullRequestUpdatedActivity>td.content>.body>.commit.rebased a,
.pull-request-detail>.card-body>.main>.activities .PullRequestUpdatedActivity>td.content>.body>.commit.rebased span,
.pull-request-detail>.card-body>.main>.activities .PullRequestUpdatedActivity>td.content>.body>.commit.rebased:before {
	color: var(--muted);
}
.pull-request-detail>.card-body>.main>.activities .PullRequestUpdatedActivity>td.content>.body>.commit.rebased img {
	opacity: 36%;
}
.pull-request-detail>.card-body>.main>.activities .PullRequestUpdatedActivity>td.content {
	padding-top: 0;
	padding-bottom: 0;
}
.pull-request-detail>.card-body>.main>.activities .PullRequestUpdatedActivity>td.content>.body>.commit {
	padding: 0.5rem 0;
}

.pull-request-detail>.card-body>.main>.activities .PullRequestUpdatedActivity>td.content>.head {
	display: none;
}
.pull-request-detail>.card-body>.main>.activities .PullRequestUpdatedActivity>td.content>.body {
	margin: 0;
}
.pull-request-detail>.card-body>.main>.activities .PullRequestUpdatedActivity+.PullRequestUpdatedActivity td {
	border-top: none;
}

.pull-request-detail>.card-body>.main>.activities .activity>td>.body {
	margin-top: 1rem;
}
.pull-request-detail>.card-body>.main>.activities .activity>td.no-body {
	vertical-align: middle;
}

.pull-request-detail>.card-body>.main>.activities .activity.since-changes .avatar div {
	border-radius: 20px;
	background: var(--primary);
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.pull-request-detail>.card-body>.main>.activities .activity.since-changes .avatar .icon {
	width: 20px;
	height: 20px;
	color: white;
}
.pull-request-detail>.card-body>.main>.activities .activity.since-changes td {
	vertical-align: middle;
}
