<wicket:extend>
	<div wicket:id="workflowChangeAlert" class="mb-5"></div>
    <div class="issue-setting card">
		<div class="card-body">
	        <wicket:child></wicket:child>
		</div>
    </div>
</wicket:extend>