<wicket:extend>
	<div class="card user-list">
		<div class="card-body">
			<div class="d-flex align-items-center mb-4">
				<div class="clearable-wrapper flex-grow-1 mr-3">
					<input wicket:id="filterUsers" class="form-control search" placeholder="Filter by name">
				</div>
				<a wicket:id="addNew" class="btn btn-icon btn-primary flex-shrink-0"><wicket:svg href="plus" class="icon"></wicket:svg></a>
			</div>
			<table wicket:id="users" class="users table"></table>
		</div>
	</div>
	<wicket:fragment wicket:id="nameFrag">
		<a wicket:id="link"><img wicket:id="avatar"> <span wicket:id="name" class="name"></span></a>
	</wicket:fragment>
	<wicket:fragment wicket:id="actionsFrag">
		<a wicket:id="impersonate" class="btn btn-xs btn-icon btn-light btn-hover-primary mr-2" title="Impersonate this user"><wicket:svg href="user-tick" class="icon align-middle"/></a>
		<a wicket:id="delete" class="btn btn-xs btn-icon btn-light btn-hover-danger" title="Delete this user"><wicket:svg href="trash" class="icon align-middle"></wicket:svg></a>
	</wicket:fragment>
</wicket:extend>
