<wicket:extend>
	<div class="card user-detail">
		<div class="card-body">
        	<ul wicket:id="userTabs" class="tabs nav nav-bold nav-tabs nav-tabs-line text-weight-bold mb-4"></ul>
			<wicket:child></wicket:child>
		</div>
	</div>
	<wicket:fragment wicket:id="topbarTitleFrag">
		<a wicket:id="users">Users</a> <span class="dot"></span> <span wicket:id="userName"></span> 
	</wicket:fragment>
</wicket:extend>