<wicket:extend>
	<div class="card project-authorizations">
		<div class="card-body">
			<form wicket:id="form" class="authorization-list leave-confirm">
				<div wicket:id="feedback" class="mb-4"></div>
				<div wicket:id="editor"></div>
				<input type="submit" class="btn btn-primary dirty-aware mt-4" value="Save">
			</form>
		</div>
	</div>
</wicket:extend>