<wicket:panel>
    <table wicket:id="table" class="bean-list">
        <thead>
            <th wicket:id="headers">
                <span wicket:id="header"></span>
            </th>
        </thead>
        <tbody>
            <tr wicket:id="rows">
                <td wicket:id="columns">
                    <div wicket:id="cell"></div>
                </td>
            </tr>
        </tbody>
		<tfoot wicket:id="noRecords">
			<tr>
				<td wicket:id="td">Not defined</td>
			</tr>
		</tfoot>
    </table>
</wicket:panel>