<wicket:extend>
	<div class="alert alert-notice bg-white shadow mb-5 text-gray">
		<wicket:svg href="bulb" class="icon mr-2"/>
		OneDev will post event data in JSON format to specified URLs when subscribed events happen
	</div>
	<div class="card web-hooks">
		<div class="card-body">
			<form wicket:id="form" class="leave-confirm">
				<div wicket:id="feedback" class="mb-4"></div>
				<div wicket:id="editor"></div>		
				<input type="submit" value="Save" class="dirty-aware btn btn-primary mt-4">
			</form>
		</div>
	</div>
</wicket:extend>