<wicket:panel>
	<div class="watch-status py-3">
		<a wicket:id="default" class="d-flex px-3 py-2 text-hover-gray-dark">
			<wicket:svg href="tick" class="icon mr-2 mt-1"/>
			<div>
				<div class="font-weight-bold">Watch if involved (default)</div>
				<div class="text-muted font-size-sm mt-1">Start to watch once I am involved</div>
			</div>
		</a>
		<a wicket:id="watch" class="d-flex px-3 py-2 text-hover-gray-dark">
			<wicket:svg href="tick" class="icon mr-2 mt-1"/>
			<div>
				<div class="font-weight-bold">Watch</div>
				<div class="text-muted font-size-sm mt-1">You will be notified of any activities</div>
			</div>
		</a>
		<a wicket:id="doNotWatch" class="d-flex px-3 py-2 text-hover-gray-dark">
			<wicket:svg href="tick" class="icon mr-2 mt-1"/>
			<div>
				<div class="font-weight-bold">Do not watch</div>
				<div class="text-muted font-size-sm mt-1">Ignore activities irrelevant to me</div>
			</div>
		</a>
	</div>
</wicket:panel>
