.watch-status:AFTER {
	margin-left: 0.5rem;
}
.watch-status.default:AFTER {
	content: "Watch if involved";
}
.watch-status.watch:AFTER {
	content: "Watch";
}
.watch-status.do-not-watch:AFTER {
	content: "Do not watch";
}
.watch-status .icon {
	display: none;
}
.watch-status.default .icon-bell, 
.watch-status.watch .icon-bell-ring, 
.watch-status.do-not-watch .icon-bell-off  {
	display: inline-block;
}

.floating .watch-status a .icon {
	width: 12px;
	height: 12px;
	display: inline-block;
	visibility: hidden;
}
.floating .watch-status a.active .icon {
	visibility: visible;
}

.floating .watch-status a:hover {
	background: var(--light);
}