<wicket:panel>
	<div class="input-assist">
		<ul wicket:id="suggestions" class="suggestions autosuit list-unstyled">
			 <li wicket:id="suggestions" class="suggestion selectable">
				<a class="d-flex align-items-center">
					<span wicket:id="content" class="content text-nowrap font-size-sm mr-auto"></span>
					<span wicket:id="description" class="ml-4 description text-muted"></span>
				</a>
			</li>
		</ul>
		<ul class="help list-unstyled rounded mt-3 mb-0 text-muted bg-light px-3 py-2">
			<li wicket:id="hints"></li>
			<li><span class='complete'></span> &uarr;&darr; to select item. Esc to close</li>
		</ul>
	</div>
</wicket:panel>