<wicket:panel>
	<div wicket:id="tree" class="blob-folder-picker"></div>
	<wicket:fragment wicket:id="contentFrag">
		<a wicket:id="link"><wicket:svg href="folder" class="icon"></wicket:svg> <span wicket:id="label"></span></a>
	</wicket:fragment>
</wicket:panel>