<wicket:extend>
	<div class="main text-center">
		<div class="d-flex justify-content-center">
			<svg wicket:id="logo" class="logo icon icon-hero"/> 
		</div>
		<div class="title">
			<h3 wicket:id="title"></h3>
			<div wicket:id="subTitle" class="text-muted font-weight-bold sub-title"></div>
		</div>
		<wicket:child></wicket:child>
	</div>	
</wicket:extend>