<wicket:extend>
	<div wicket:id="testSuites"></div>
	<wicket:fragment wicket:id="hasDataFrag">
		<div class="test-suites">
			<form wicket:id="form" class="form no-autofocus">
				<div class="clearable-wrapper">
					<div class="input-group">
                        <input wicket:id="file" class="form-control" spellcheck="false" autocomplete="off" placeholder="Filter by path">
						<span class="input-group-append">
							<button wicket:id="submit" title="Filter" class="btn btn-icon btn-outline-secondary" type="submit"><wicket:svg href="magnify" class="icon"></wicket:svg></button>
						</span>
					</div>
				</div>
				<div wicket:id="feedback" class="mt-3"></div>
			</form>
			<div wicket:id="summary" class="summary"></div>
			<div class="d-flex align-items-center mb-2">
				<span class="ml-auto mr-3 font-weight-bold">Longest Duration First</span>
				<span class="switch switch-sm switch-primary">
					<label>
						<input wicket:id="longestDurationFirst" type="checkbox"> 
					</label>
				</span>
			</div>
			<table wicket:id="detail" class="detail table"></table>
		</div>
	</wicket:fragment>
	<wicket:fragment wicket:id="testSuiteFrag">
		<div class="d-flex">
			<span wicket:id="status" class="mr-3"></span> 
			<a wicket:id="testCases" class="mr-4 text-break" title="Show test cases of this test suite"><span wicket:id="label"></span></a>
			<a wicket:id="viewSource" class="ml-n3 mr-4" title="View source file"><wicket:svg href="file" class="icon"/></a>
			<span wicket:id="duration" class="ml-auto"></span>
		</div>
		<pre wicket:id="message" class="text-gray mt-3"></pre>
	</wicket:fragment>
</wicket:extend>