<wicket:extend>
	<div class="jest-test-report">
		<ul wicket:id="reportTabs" class="tabs nav nav-tabs nav-tabs-line mb-5 flex-shrink-0 test-detail"></ul>
		<wicket:child></wicket:child>
	</div>
	<wicket:fragment wicket:id="trendingFrag">
		<a wicket:id="link" title="Jest test trending" class="btn btn-xs btn-icon btn-light btn-hover-primary"><wicket:svg href="stats" class="icon"/></a>
	</wicket:fragment>
</wicket:extend>