<wicket:panel>
    <div wicket:id="container" class="user-card">
        <div class="avatar">
            <img wicket:id="avatar">
        </div>
        <div wicket:id="info" class="info"></div>
    </div>
</wicket:panel>