<wicket:extend>
	<wicket:container wicket:id="content"></wicket:container>
	<wicket:fragment wicket:id="ownerFrag">
		<div class="alert alert-notice bg-white shadow">
			<b>Project Owner</b> is a built-in role with full permission over projects	
		</div>
	</wicket:fragment>
	<wicket:fragment wicket:id="nonOwnerFrag">
		<div class="card">
			<div class="card-body">
				<form wicket:id="form" class="leave-confirm">
					<div wicket:id="feedback" class="mb-4"></div>
					<div wicket:id="editor"></div>
					<div class="mt-5 d-flex">
						<input class="btn btn-primary dirty-aware mr-1" value="Save" type="submit">
						<a wicket:id="delete" class="btn btn-danger ml-auto">Delete</a>
					</div>
				</form>
			</div>
		</div>
	</wicket:fragment>
	<wicket:fragment wicket:id="topbarTitleFrag">
		<a wicket:id="roles">Roles</a> <span class="dot"></span> <span wicket:id="roleName" class="text-truncate"></span> 
	</wicket:fragment>
</wicket:extend>