<wicket:extend>
	<div class="card mail-setting">
		<div class="card-body">
			<form wicket:id="mailSetting" class="leave-confirm">
				<div wicket:id="editor" class="mb-4"></div>
				<input wicket:id="save" type="submit" class="btn btn-primary dirty-aware mr-1" value="Save Setting">
				<input wicket:id="sendingTestMail" type="submit" class="btn btn-light-primary" value="Send Test Mail">
			</form>
		</div>
	</div>
</wicket:extend>
