<wicket:panel>
	<span class="text-nowrap">
		<a wicket:id="projectPicker" class="project btn btn-outline-secondary btn-sm mr-2"></a> 
		<a wicket:id="revisionPicker" class="revision btn btn-outline-secondary btn-sm"></a> 
	</span>
</wicket:panel>