.code-support {
	border: 1px solid var(--light-gray);
	border-radius: 0.42rem;
	padding: 1px;
}
.is-invalid .code-support {
	border-color: #a94442;
}
.code-support .CodeMirror {
	height: auto;
}
.code-support .CodeMirror-scroll {
    min-height: 120px;
}
.property-viewer .CodeMirror .CodeMirror-cursor {
	border-left: none;
}
.CodeMirror-hint {
	padding: 4px;
}