<wicket:extend>
	<div wicket:id="warning" class="alert alert-notice alert-light-warning shadow mb-4"></div>
	<div class="card server-log">
		<div class="card-body">
			<a wicket:id="download" class="btn btn-light btn-hover-primary btn-block mb-4" title="Download log"><wicket:svg href="download" class="icon mr-2"/> Download</a>
			<pre wicket:id="logContent"></pre>
		</div>
	</div>
</wicket:extend>