<wicket:extend>
	<div class="project-issues d-flex flex-column flex-grow-1 p-2 p-sm-5">
		<div wicket:id="workflowChangeAlert" class="mb-3 flex-shrink-0"></div>
		<wicket:child></wicket:child>
	</div>
</wicket:extend>
