<wicket:extend>
	<form wicket:id="form" method="post">
		<div wicket:id="feedback"></div>
		<div class="form-group">
			<input wicket:id="loginNameOrEmail" autocomplete="username" type="text" class="form-control" placeholder="Login name or email">
		</div>
		<button wicket:id="resettingPassword" class="btn btn-primary font-weight-bold mr-1" type="submit">Reset</button>
		<button wicket:id="cancel" class="btn btn-light-primary font-weight-bold">Cancel</button>
	</form>
</wicket:extend>