.fix-states .undefined {
	width: 50%;
}

.fix-fields td.name, .fix-fields td.type, 
.fix-field-values td.name, .fix-field-values td.value  {
	width: 25%;
}
.fix-fields td.resolution, .fix-field-values td.resolution {
	width: 50%;
}

