<wicket:panel>
	<div wicket:id="content"></div>
	<wicket:fragment wicket:id="singleLineFrag">
		<div class="clearable-wrapper">
			<input wicket:id="input" type="text" class="form-control">
		</div>
	</wicket:fragment>
	<wicket:fragment wicket:id="multiLineFrag">
		<textarea wicket:id="input" class="form-control" rows="4"></textarea>
	</wicket:fragment>
</wicket:panel>