<wicket:panel>
	<div wicket:id="content" class="content d-flex flex-column flex-grow-1 overflow-hidden">
		<div wicket:id="head" class="head d-flex flex-shrink-0 align-items-center">
			<a wicket:id="userIdent" class="mr-2"></a>
			<span wicket:id="title" class="mr-2"></span>
			<span wicket:id="count" class="badge badge-secondary badge-sm mr-3"></span>
			<div class="ml-auto">
				<a wicket:id="addCard" title="Add new card to this column" class="add-card"><wicket:svg href="plus" class="icon"></wicket:svg></a>
				<a wicket:id="viewAsList" title="Show issues in list" class="show-list ml-1"><wicket:svg href="unordered-list" class="icon"></wicket:svg></a>
			</div>
		</div>
		<div wicket:id="body" class="body flex-grow-1 overflow-auto px-4 pt-4"></div>
	</div>
</wicket:panel>