<wicket:extend>
	<div class="tag-protections">
		<div class="alert alert-notice bg-white shadow mb-5 text-gray">
			<wicket:svg href="bulb" class="icon mr-2"></wicket:svg>
			Define tag protection rules. The first matching rule will take effect
		</div>
		
		<div class="body">
			<div wicket:id="tagProtectionSetting">
				<ul class="list-unstyled">
					<li wicket:id="protections" class="protection mb-5"><div wicket:id="protection"></div></li>
				</ul>
				<div wicket:id="newProtection"></div>
			</div>
		</div>
	</div>
	<wicket:fragment wicket:id="editNewFrag">
		<div class="protection card">
			<div class="card-header">
				<div class="card-title">Edit Rule</div>
			</div>
			<div class="card-body">
				<div wicket:id="editor"></div>
			</div>
		</div>
	</wicket:fragment>
	<wicket:fragment wicket:id="addNewLinkFrag">
		<div class="card">
			<div class="card-header">
				<div class="card-title">
					<a wicket:id="link" class="add-new"><wicket:svg href="plus-circle-o" class="icon align-middle mr-1"></wicket:svg> <span>Add Rule</span></a>
				</div>
			</div>
		</div>
	</wicket:fragment>
</wicket:extend>
